@charset "UTF-8";

//@import "compass/css3";
@import "../bower_components/foundation/scss/foundation/functions";

$sm-primary: #e65540;


$primary-color: $sm-primary;

/*




$f-dropdown-border-color: scale-color($holi-purple, $lightness: -20%);

//setting html classes
$include-html-table-classes: false;

//pickadate hp theme
$pickadate-primary-color: $holi-orange;
$pickadate-highlight-hover-color: lighten($holi-orange, 20%);
$pickadate-triangle-color: $holi-orange;
$pickadate-arrows-color: $holi-purple;
$pickadate-text-color: $holi-purple;

//Tabs
$hp-tab-color: $holi-purple;
$tabs-navigation-padding: rem-calc(10);
$tabs-navigation-bg-color: #FFFFFF;
$tabs-navigation-hover-bg-color: #FFFFFF;
$tabs-navigation-active-bg-color: #fff;
$tabs-navigation-font-color: #222;
$tabs-navigation-font-size: rem-calc(16);
$tabs-content-margin-bottom: rem-calc(24);
//  $tabs-content-padding: $column-gutter/2;
$tabs-vertical-navigation-margin-bottom: 1.25rem;*/


$row-width: rem-calc(1200);

/*//tab-bar
$tabbar-bg: $primary-color;
$off-canvas-bg: scale-color($primary-color, $lightness: -25%);
$off-canvas-label-bg: scale-color($primary-color, $lightness: -30%);
$off-canvas-label-color: #FAFAFA;

//custom vars



//Pagination
$pagination-li-font-size: rem-calc(16);*/


//fa font path
$fa-font-path: "/fonts";
$container-bg: #fff;
$sec-color: #eee;
$alert-color: #d81f25;

$body-font-family: 'Lato', sans-serif;

$header-font-color: #444;


//
//$slick-prev-character: '\f053';
//$slick-next-character: '\f054';
//$slick-arrow-color:$holi-purple;


@import "../bower_components/foundation/scss/normalize";

// Behold, here are all the Foundation components.
@import
"../bower_components/foundation/scss/foundation/components/grid",

"../bower_components/foundation/scss/foundation/components/alert-boxes",
"../bower_components/foundation/scss/foundation/components/block-grid",
"../bower_components/foundation/scss/foundation/components/breadcrumbs",

"../bower_components/foundation/scss/foundation/components/buttons",



"../bower_components/foundation/scss/foundation/components/forms",
"../bower_components/foundation/scss/foundation/components/inline-lists",












"../bower_components/foundation/scss/foundation/components/type",

"../bower_components/foundation/scss/foundation/components/visibility";


@import "../bower_components/font-awesome/scss/font-awesome";

