@charset "UTF-8";

//@import "compass/css3";
@import "../bower_components/foundation/scss/foundation/functions";

$sm-primary: #e65540;


$primary-color: $sm-primary;



$row-width: rem-calc(1200);


//fa font path
$fa-font-path: "/fonts";
$container-bg: #fff;
$sec-color: #eee;
$alert-color: #d81f25;

$body-font-family: 'Lato', sans-serif;

$header-font-color: #444;


//
//$slick-prev-character: '\f053';
//$slick-next-character: '\f054';
//$slick-arrow-color:$holi-purple;


@import "../bower_components/foundation/scss/normalize";

// Behold, here are all the Foundation components.
@import
"../bower_components/foundation/scss/foundation/components/grid",

"../bower_components/foundation/scss/foundation/components/alert-boxes",
"../bower_components/foundation/scss/foundation/components/block-grid",
"../bower_components/foundation/scss/foundation/components/breadcrumbs",

"../bower_components/foundation/scss/foundation/components/buttons",



"../bower_components/foundation/scss/foundation/components/forms",
"../bower_components/foundation/scss/foundation/components/inline-lists",












"../bower_components/foundation/scss/foundation/components/type",

"../bower_components/foundation/scss/foundation/components/visibility";


@import "../bower_components/font-awesome/scss/font-awesome";

