<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<div class="menu-wrap">
    <nav class="menu">
        <div class="profile"><img src="/images/img_profile.jpg" alt="Sandy Moreno"/><span>Sandy Moreno</span></div>
        <div class="icon-list">
            <a data-scroll href="#services"><i class="fa fa-fw fa-circle"></i><span>SERVICES</span></a>
            <a data-scroll href="#work"><i class="fa fa-fw fa-briefcase"></i><span>LATEST WORK</span></a>
            <a data-scroll href="#about"><i class="fa fa-fw fa-book"></i><span>SKILLS</span></a>
            <a data-scroll href="#contact"><i class="fa fa-fw fa-envelope"></i><span>CONTACT</span></a>
        </div>
    </nav>
    <button class="close-button" id="close-button"></button>
</div>
<button class="menu-button" id="open-button"></button>

<div class="content-wrap">
<div class="content">

<section class="main">
    <header class="main-head">
        <div class="row">
            <div class="small-12 columns">
                <a href="#"><img class="brand" src="/images/logo5_fff.png" alt="sandy moreno logo"></a>

                <div class="headline">
                    <h1>FAST & PROFESSIONAL WEB PROJECTS</h1>
                    <h3>Hi! I'm a freelance web developer based in La Habana. I create web projects everyday with open source technologies.</h3>
                    <a data-scroll href="#services" class="button">Take a look!</a>
                </div>

            </div>
        </div>
    </header>
    
</section>

{{ content }}


</div>
</div>

{% include footer.html %}
</body>
</html>
